<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="__PUBLIC__/Home/js/rem.js"></script>
	<!-- <script src="js/mui.min.js"></script> -->
	<link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
	<link href="__PUBLIC__/Home/css/mui.css" rel="stylesheet"/>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.js"></script>
	<script src="__PUBLIC__/Home/js/highcharts.js"></script>
	<script src="__PUBLIC__/layer/layer.js"></script>
	<script src="__PUBLIC__/Home/js/main.js"></script>
</head>

<body class="gray-body">
	<header class="fixed news-header">
		<a href="javaScript:history.go(-1)" class="back"><i class="iconfont">&#xe647;</i></a>
		<span class="tit">公告</span>
	</header>
	<div class="mui-content news-content">
		<div class="news-list">
			<ul>
				<volist name="list" id="vo">

					<li>
						<a href="{:U('Article/detail','id='.$vo['id'])}" class="clearfix">
							<div class="list-left">
								<h4>{$vo.title}</h4>
								<p>{$vo.content|msubstr=0,30,'utf-8',true}</p>
							</div>
							<div class="time">{$vo.addtime|date="Y-m-d H:i:s",###}</div>
						</a>
					</li>

				</volist>


			
			</ul>
			<div class="Pagination">{$page}</div>
		</div>
	</div>
	<include file="Public:footer"/>
</body>