<nav class="nav-wrap">
    <a class="tab-item active" href="{:U('index/index')}">
        <span class="nav-icon index"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item" href="{:U('Trade/index')}">
        <span class="nav-icon trade"></span>
        <span class="tab-label">交易大厅</span>
    </a>
    <a class="tab-item" href="{:U('trade/seeklist')}">
        <span class="nav-icon groom"></span>
        <span class="tab-label">推荐大厅</span>
    </a>
    <a class="tab-item" href="{:U('User/index')}">
        <span class="nav-icon personal"></span>
        <span class="tab-label">我的</span>
    </a>
</nav>

<script src="__PUBLIC__/Home/js/main.js"></script>

