<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />	
	<script src="__PUBLIC__/Home/js/rem.js"></script>
    <!-- <script src="js/mui.min.js"></script> -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
    <link href="__PUBLIC__/Home/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="start-wrap">
		<div class="start-img">
			<img src="__PUBLIC__/Home/images/start-bg1.jpg" alt="">
		</div>
		<div class="tit">
			<h1>有钻</h1>
			<h5>值得信赖的移动财富生活管家</h5>
		</div>
		<div class="reg-box1">
				<a href="{:U('login/index')}">登录</a>
			<a href="{:U('login/register')}">注册</a>
		
		</div>
	</div>
</body>