<!DOCTYPE html>
<html>
<head>
	<title>推荐大厅</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<script src="__PUBLIC__/Home/js/rem.js"></script>
    <!-- <script src="js/mui.min.js"></script> -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
    <link href="__PUBLIC__/Home/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.js"></script>
</head>
<script>
    window.onload=function ()
    {
        var aLi=document.getElementsByTagName('li');

        for(var i=0;i<aLi.length;i++)
        {
            //i 0 1 2 3 4 5 6....
            if(i%3==0)
            {
                //0 2 4 6 8 10
                aLi[i].style.background='#79b1fe';
            }
            else if(i%3==1)
            {
                //1 3 5 7 9
                aLi[i].style.background='#f4bd5b';
            }else if(i%3==2){
                aLi[i].style.background='#ff8e92';
			}
        }
    };
</script>

<body>
	<header class="groom-header">
		<p class="p1">更多丰富币种，</p>
		<p>请您每日关注有钻活动!</p>
	</header>
	<div class="groom-con con-pb100">
		<ul>
			<volist name="list" id="vo">
				<li style="background-color: #79b1fe" class="clearfix">
					<div class="coin-left">
						<img src="/Upload/coin/{$vo.img}" alt="">
						<div class="coin-writen">
							<h6>{$vo.title|strtoupper}</h6>
							<span></span>
						</div>
					</div>
					<div class="enter">
						<a href="seek?market={$vo.name}">进入</a>
					</div>
				</li>
			</volist>


		</ul>
	</div>
	<include file="Public:footer"/>

</body>