<!DOCTYPE html>
<html>
<head>
    <title>客服</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="__PUBLIC__/Home/js/rem.js"></script>
    <!-- <script src="js/mui.min.js"></script> -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
    <link href="__PUBLIC__/Home/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.js"></script>

    <script src="__PUBLIC__/layer/layer.js"></script>
    <!-- <script src="js/textBox.min.js"></script> -->
    <script src="__PUBLIC__/Home/js/main.js"></script>
</head>
<body class="gray-body">
<header class="common-header">
    <a href="javaScript:history.go(-1)" class="back">
        <i class="iconfont">&#xe60f;</i>
    </a>
    <span>客服</span>
</header>
<div class="mui-content">
    <div class="main-form1">
            <div class="form-group">
              电话:{$data['contact_moble']}
            </div>
            <div class="form-group">
                QQ:{$data['contact_qq']}
            </div>
            <div class="form-group">
                微信:{$data['contact_weixin']}
            </div>
    </div>
</div>

</body>