<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>红钻收入</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="__PUBLIC__/Home/js/rem.js"></script>
    <!-- <script src="js/mui.min.js"></script> -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
    <link href="__PUBLIC__/Home/css/mui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/iconfont/iconfont.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-3.3.1.js"></script>
    <script src="__PUBLIC__/Home/js/highcharts.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/Home/js/main.js"></script>
</head>
<style>
    .Pagination a:hover,.current{background-color: #f5930c;border: 1px solid #f5980c;color: #ffffff; }
    .Pagination{float: right;height: auto;_height: 45px; line-height: 20px;margin-right: 15px;_margin-right: 5px; color:#565656;margin-top: 10px;_margin-top: 20px; clear:both;}
    .Pagination a,.Pagination span{ font-size: 14px;text-decoration: none;display: block;float: left;color: #565656;border: 1px solid #ccc;height: 34px;line-height: 34px;margin: 0 2px;width: 34px;text-align: center;}
</style>
<body>
    <header class="common-header">
        <a href="javaScript:history.go(-1)" class="back">
            <i class="iconfont">&#xe60f;</i>
        </a>
        <span>红钻收入</span>
    </header>
    <div class="mui-content">
        <table class="main-table">
            <thead>

                <tr>
                    <th class="first">时间</th>
                    <th>方式</th>
                    <th class="last">金额</th>
                </tr>
            </thead>
            <tbody>
                <volist name="list" id="vo">
                    <tr>
                        <td class="first">{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.name}</td>
                        <td class="last">¥{$vo.fee|NumToStr}</td>

                    </tr>
                </volist>

                <!--<tr>
                    <td class="first">2018.05.04</td>
                    <td>交易</td>
                    <td class="last">100.00</td>
                </tr>-->
            </tbody>
        </table>
        <div class="Pagination">{$page}</div>
    </div>

    <include file="Public:footer"/>
</body>