<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">金钻发放</span>
        </div>
        <div class="tab-wrap">
            <div class="tab-content">
                <form id="form" action="{:U('Config/goldsend')}" method="post" class="form-horizontal">
                    <div id="tab" class="tab-pane in tab">
                        <div class="form-item cf">
                            <table>

                                <tr class="controls">
                                    <td class="item-label">金钻总数 :</td>
                                    <td>
                                        <input type="text" class="form-control input-10x" name="mum_gold" value="{$C['mum_gold']}">
                                    </td>
                                    <td class="item-note">
                                    </td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">认购比例 :</td>
                                    <td>
                                        <input type="text" class="form-control input-10x"  name="issue_gold" value="{$C['issue_gold']}">
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label">抽奖比例 :</td>
                                    <td>
                                        <input type="text" class="form-control input-10x"  name="lottery_gold" value="{$C['lottery_gold']}">
                                    </td>
                                    <td class="item-note"></td>
                                </tr>
                                <tr class="controls">
                                    <td class="item-label"></td>
                                    <td>
                                        <div class="form-item cf">
                                            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                                            <a class="btn btn-return" href="{$Think.server.HTTP_REFERER}">返 回</a>
                                            <notempty name="data.id"><input type="hidden" name="id" value="{$data.id}"/>
                                            </notempty>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    //提交表单
                    $('#submit').click(function () {
                        $('#form').submit();
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>